<select id="select-month">
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="april">April</option>
    <option value="may">May</option>
    <option value="june">June</option>
    <option value="july">July</option>
    <option value="august">August</option>
    <option value="september">September</option>
    <option value="october">October</option>
    <option value="november" selected>November</option>
    <option value="december">December</option>
</select>

<hr>

<button id="find-slims">Slim's</button>
<button id="find-fillmore">The Fillmore</button>
<button id="find-independent">The Independent</button>
<button id="find-warfield">The Warfield</button>
<button id="find-bottomofthehill">Bottom of the Hill</button>

<hr>

<h3 id="venue-name"></h3>

<ul id="show-list"></ul>