<select id="select-month">
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="november" selected>November</option>
</select>

<hr>

<button id="find-slims">Find Slim's Shows</button>